.navigation {
  background-color: rgb(240, 248, 255);
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0px;
  left: 0px;
  .navitems {
    display: inline-block;
    float: left;
    height: 8vh;
    line-height: 8vh;
    width: 25vw;
    box-sizing:border-box;
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black; 
    text-align: center;
  }
}
.title {
  margin: 8vh 0px 0px;
  width: 100%;
  background-color: rgb(127, 255, 212);
  height: 20vh;
}
.content {
  background-color: rgb(222, 184, 135);
  width: 80vw;
  margin: 0px 10vw;
}
.description {
  width: 50%;
  height: 600px;
  background-color: rgb(245, 245, 220);
  display: inline-block;
  float: left;
}
.applynow {
  width: 30%;
  height: 100px;
  float: right;
  background-color: blue;
  box-shadow: 0 5px 0 0 dodgerblue;
  margin: 0 10%;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}
.applyforms {
  margin-top: 50px;
  width: 30%;
  height: 100%;
  position: relative;
  top: -100px;
  z-index: -1;
  float: right;
  background-color: white;
  margin: 0 10%;
  transition: all 2s;
}
.contact {
  width: 30%;
  position: relative;
  top: -100px;
  height: 100px;
  float: right;
  background-color: rgb(30, 144, 255);
  margin: 5vh 10%;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  transition: all 2s;
}