<h1> FIND YOUR NEXT OPPORTUNITY </h1>
<input type='text' placeholder='Where do you want to go'>
<div class='stay'>
	Length of Stay:
	<select>
		<option> < 2 weeks</option>
		<option>2 - 4 weeks</option>
		<option>1 - 3 Months</option>
		<option>3+ Months</option>
	</select>
</div>
<div class='years'>
	Years of experience:
	<select>
		<option>0 - 1</option>
		<option>1 - 3</option>
		<option>3 - 7</option>
		<option>7+</option>
	</select>
</div>
<div class='type'>
	Type of Experience:
	<select>
		<option>Web Development</option>
		<option>Small Business Counseling</option>
		<option>Marketing</option>
		<option>Other</option>
	</select>
</div>
<a href='/steptwo'> GO!</a>