<div class='nav'>
	<div class='centernav'>
		<h2> SEARCH </h2>
		<input type='text' placeholder='search'>
		<h2> Filter By </h2>
		<div class='stay'>
				<h3>Length of Stay</h3>
				<select>
					<option> < 2 weeks</option>
					<option>2 - 4 weeks</option>
					<option>1 - 3 Months</option>
					<option>3+ Months</option>
				</select>
			</div>
			<div class='years'>
			<h3>Years of experience</h3>		
				<select>
					<option>0 - 1</option>
					<option>1 - 3</option>
					<option>3 - 7</option>
					<option>7+</option>
				</select>
			</div>
			<div class='type'>
			<h3>Type of Experience</h3>
				<select>
					<option>Web Development</option>
					<option>Small Business Counseling</option>
					<option>Marketing</option>
					<option>Other</option>
				</select>
			</div>
		<div class='closemenu'>
			close	
		</div>
	</div>
</div>
<div class='menu'>
	MENU
</div>
<div class='maincontent'>
<a href='/stepthree'>
	<div class='opps'>
	<img src="http://upload.wikimedia.org/wikipedia/commons/9/97/Buenos_Aires_D%C3%A9cembre_2007_-_Avenida_5_de_Mayo.jpg">
		<div class='center'>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
		<div class='details'>
			<div class='mini'>
				<h2> Buenos Aires </h2>
				<h3> Web Developement </h3>
				<h3> Experience; 2+ Years</h3>
				<h3> Length: 2+ Weeks </h3>
			</div>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
<a href='/stepthree'>
	<div class='opps'>
		<div class='center'>
			<div class='circular'>
			</div>
			<h2> Buenos Aires </h2>
			<h3> Web Developement </h3>
		</div>
	</div>
</a>
	
</div>