<div class='navigation'>
	
</div>
<div class='title'>
	<h1> This is the title </h1>
</div>
<div class='content'>
	<div class='description'></div>
	<div class='applynow'>
		APPLY
	</div>
	<div class='applyforms'>
	<input type='text' placeholder='NAME'>
	<br>
	<input type='text' placeholder='EMAIL'>
	<br>
	Cover Letter
	<br>
	Resume
	</div>
	<div class='contact'></div> 
</div>