<div class='navigation'>
	<div class='navitems'>
		HOME
	</div>
	<div class='navitems'>
		LOGIN/SIGNUPS
	</div>
	<div class='navitems'>
		OPPORTUNITIES
	</div>
	<div class='navitems'>
		CONTACT
	</div>
</div>
<div class='title'>
	<h1> FRONT END WEB DEVELOPER </h1>
	<h2> Buenos Aires</h2>
</div>
<div class='content'>
	<div class='description'>
		<h1> DESCRIPTION</h1>
		<p> 
		Bacon ipsum dolor amet jowl porchetta short ribs, alcatra kielbasa prosciutto sausage ribeye leberkas short loin swine. Doner beef pork biltong pancetta swine. Sirloin swine drumstick flank pork chop, strip steak salami pancetta alcatra sausage prosciutto hamburger chuck pork belly cow. Tail beef pancetta corned beef kielbasa, pork loin chuck ball tip ribeye shankle. Frankfurter kevin pork, salami cupim ham beef ribs short ribs pastrami jerky. Capicola jowl cupim, landjaeger pork loin strip steak meatball ground round frankfurter bacon. Jowl corned beef sirloin pork belly.
		</p>
		<h1> WHAT WE WANT FROM YOU</h1>
		<p>
			Landjaeger frankfurter spare ribs, salami sausage fatback capicola. Cupim shankle shoulder pork belly. Bresaola turducken swine picanha sirloin, ham hock meatloaf meatball. Spare ribs boudin bresaola filet mignon pancetta t-bone strip steak pig venison. Strip steak hamburger turkey ground round, bacon pork belly shank.
		</p>
		<h1> WHAT WE YOU GET FROM US</h1>
		<p>
			Pork belly cow porchetta sausage strip steak. Beef ribs pig pork loin porchetta, pork fatback shoulder chuck chicken ham hock filet mignon. Chicken porchetta kielbasa, chuck bacon turkey t-bone bresaola tail drumstick ribeye. T-bone fatback shank alcatra tongue. Bresaola shankle fatback ham corned beef.
		</p>
	</div>
	<div class='contact'>
		<h2> APPLICATION DEADLINE</h2>
		<h3> MAY 25th, 2015 </h3>
		<h2> DECISION DEADLINE</h2>
		<h3> JUNE 15th, 2015 </h3>
	</div> 
	<div class='applynow'>
		APPLY NOW
	</div>
	<div class='applyforms'>
	Name
	<input type='text' >
	<br>
	Email
	<input type='text'>
	<br>
	Resume 
	<input type="file" name="pic" accept="image/*">
	<br>
	Cover Letter<input type="file" name="pic" accept="image/*">
	<br>
	<a href='/'> SUBMIT	</a>
	</div>
</div>